*{
    box-sizing: border-box;
}
body{
    background-color: gray;
}
.top{
    background-color: rgba(0, 255, 255, 0.7);
}
.left{
    background-color: rgba(250, 128, 114, 0.7);
}
.right{
    background-color: rgba(128, 255, 0, 0.7);
}
.top1{
    background-color:rgba(255, 20, 145, 0.7);
}
.left1{
    background-color: rgba(184, 135, 11, 0.7);
}
.right1{
    background-color: rgba(71, 61, 139, 0.7);
}
