@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
h1{
    font-family: 'Limelight', sans-serif;
    font-size: 40px;
}
ul{
    li{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: grey;
    }
}

.title{
    font-family: 'Limelight', sans-serif;
    font-size: 72px;
    text-align: center;
}
.new-collection{
    font-size: 20px;
    font-family: 'Limelight', sans-serif;
    
}
