@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

*{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    
}
hgroup{
    width: 342px;
    height: 200px;
    padding: 60px;  
}
hgroup h2{
 font-weight: 600;
 font-size: xx-large;
 text-align: center;
 color: rgb(73, 69, 69);
}
h6 {
    color: gray;
    text-align: center;
}



.password input{
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 1px rgb(181, 177, 177);
    padding: 10px 80px 10px 40px;
    position: absolute;
    margin:0px 66px;
}
.check {
    position: absolute;
    transform: translateX(63px);
}
.inline label{
    font-size: 14px;
    font-weight: 600;
}
.recover{
    position: absolute;
    right: 30px;
    

}

div input[type=submit]{
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    padding: 10px 148px ;
    position: absolute;
    margin:55px 66px;
    cursor: pointer;
}


.sign-up h6{
    position: absolute;
    margin-left: 95px;
}
.sign-up h6 a{
    font-weight: 600;
}
